.Tooltip{
    border: 1px solid #ccc;
    border-radius:4px;
    padding: 8px;
    background-color:white;
    z-index:1000;
    position:fixed;
    max-width: 350px;
}
.surnameTooltip{
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}
.infoTooltip{
    display: table;
}
.photoTooltip,.iTooltip{
    display: table-cell;
    vertical-align: top;
    padding: 5px;
    color: #555;
}
.iTooltip div div{
    padding:5px;
    font-size: 11px;
    line-height: 14px;
}
.photoTooltip{
    min-width: 70px;
}
.photoTooltip img{
    width: 70px;
}