.SettingList
{
    display: inline-block;
    
}

.SettingList img{
    width: 22px;
    cursor: pointer;
    
}
.SettingList>div{
    position: fixed;
    top: 68px;
    right: 10px;
    border: 1px solid #add9ed;
    z-index: 2;
    background-color: #fff;
    height: auto;
    width: 200px;
    padding: 10px;
    text-align: left;
}
