.SettingList
{
    display: inline-block;
    margin-right: 8px;
}

.SettingList img{
    width: 22px;
    cursor: pointer;
    
}
.SettingList div{
    position: fixed;
    top: 68px;
    right: 10px;
    border: 1px solid #add9ed;
    z-index: 2;
    background-color: #fff;
    height: auto;
    width: 300px;
    padding: 5px;
    visibility: hidden;
}
.SettingList>div select{
    width: 285px;
}