.InternetShop button{
    float:right;
}
.InternetShop{
    float:left;
}a{cursor:pointer;}
a:hover{text-decoration: underline;}
td{
    padding:5px;
}
.ItemShop_active{background-color: greenyellow}.viewBlock{
    border:1px solid #eee;
    padding: 6px;
    float: left;
}
.viewBlock span{
font-weight: bold;
}
.err{
    font-weight: normal; 
    color: red; 
}