.titleEmployee{
    display: block;
    position: fixed;
    top: 55px;
    background-color: #fff;
    padding: 10px 0px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
    vertical-align: top;
    width:100%;
    border-bottom: 2px solid #32a3eb;
    padding-left:10px;
    cursor: pointer;
}
.birthdayEmployee{
    min-width: 130px;
}