.InternetShop
{
  border: double gray 3px;
  width: 600px;
  padding: 3px 7px;
  background-color: #FFF;
}

.item_title
{
    text-align: left;
}

.item_cost, .item_count, .item_img
{
    text-align: center; 
}

img
{
    width: 100px;
}