div.MobileClient
{
  padding: 2px 0;
}

span.MobileClientBalance
{
  float: right;
  width: 150px;
  font-weight: bold;
  text-align: right;
  margin-right: 5px;
}

span.MobileClientBalanceActive
{
  color: green;
}

span.MobileClientBalanceBlocked
{
  color: red;
}

span.MobileClientFIO
{
  margin-right: 30px;
}

.MobileClient input
{
  float: right;
  margin-right: 5px;
}
