.CounterBlock
{
    position: fixed;
    top:0px;
    left: 70px;
    height:55px;
    z-index: 10000;
    
}
.CounterBlock span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  
.CounterBlock div{
   display: inline-block;
   vertical-align: middle;
}
.CounterBlockView
{
    font-size: 13px;
    color: #fff;
    border-radius:20px;
    width:30px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    -khtml-border-radius:20px;
    border:#fff 1px solid;
    text-shadow:0 1px 0 #fff;
    text-align:center;
    padding: 10px 4px;
    font-weight: bold;
    cursor: help;
    display: inline-block;
    
    
}